.symbolIcon {
    position: fixed;
    top: 0;
    left: 0;
    width: 5.8rem;
    background-color: #000;
    color: #1E90FF;
    text-align: center;
    margin-left: 0.3rem;
    font-size: 1.6rem;
    font-family: cursive;
}

.headerbar {
    display: inline-block;
    width: 100%;
    background-color: #333;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.headerbar1 {
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
}

.showInfo {
    width: 77%;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    background-color: #312f2f;
    margin-bottom: 5px;
    text-align: center;
    height: 90%;
}

.showIcons {
    display: inline;
    margin-right: 1rem;
    margin-top: 0.25rem;
    margin-left: 3rem;;
}

.showIcons button,
.showIcons button:hover {
    color: #fff;
    border: 2px solid #424141;
    margin: 0px 6px;
    border-radius: 10px;
    background-color: #292929;
}

.showIcons button[class*='-outlinedSizeSmall'] {
    font-size: 0.5125rem;
    min-width: auto !important;
}

@media screen and (max-width: 650px) {
    .headerbar {
        display: none;
    }
}