.topBarWrapper {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    border: 2px solid #424141;
    border-radius: 0px 0px 10px 10px;
    border-top: none;
}

.shareHighlight {
    display: inline-flex;
    font-size: 0.9rem;
}

.shareHighlight span {
    margin-right: 5px;
}

.topBarWrapper > div {
    padding: 5px 10px;
}

.topBarWrapper span[class*="-anchorOriginTopRightRectangle"] {
    top: 10px;
    left: 5px;
}

.yellow {
    color: #ffb100;
}

.green {
    color: #12ad12;
}

.white {
    color: #fff;
}

.red {
    color: #e01414;
}